/* ①ファーストビューのイラストアニメーションの再現 */
.p_homemain {opacity: 1;display: flex;flex-direction: row-reverse; /* 子要素の左右入れ替え */margin-bottom: 10vw;}
.p-homemain__imgwrap {width: 60%;}
.p-homemain__img {background: #fff;position: relative;padding-top: 0%;min-height: 100%;padding-top: 155%;top: 0px;}
.p-homemain__img .-inner {width: 100%;height: auto;position: absolute;left: 0;top: 0;}
.-inner.-main_base img {}.-inner.-main_color img {opacity: 0;}
.-inner.-main_kumo img {opacity: 0;-webkit-transform: translateY(3%);transform: translateY(3%);}
.p-homemain__txtwrap {position: relative;width: 40%;display: block;}
.l-section.-logowrap {width: 100%;height: 100vh;display: -webkit-box;display: -ms-flexbox;display: flex;}
.p_homemain__logo {margin: auto;width: 60%;position: relative;}
.p_homemain__logo img {width: 100%;
    height: auto;}
.p_homemain__logo .-logo {opacity: 0;}
.p-homemain__txtwrap .-stamp {    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: translateX(-10%) translateY(-10%);
    transform: translateX(-10%) translateY(-10%);}
.p_homemain .-stamp img {-webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
    -webkit-transition: 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;
    transition: 0.5s cubic-bezier(0.39, 0.58, 0.57, 1) 1.5s;}
.l-section.-textwrap.p-homemain__txt {width: 60%;padding: 0 0 0;display: block;text-align: center;margin: 0 auto 0;}
.p-homemainlead {display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;position: relative;}
.p-homemainlead__inner {width: 100%;display: block;transform: translateY(-20%);transition: 1s cubic-bezier(0.39, 0.58, 0.57, 1);}
.p_homemain__copy {opacity: 0;margin-bottom: 3em;}
.p_homemain .leadviewFlg {opacity: 1;-webkit-transform: translateY(0%);transform: translateY(0%);-webkit-transition: 1s ease 0s;transition: 1s ease 0s;text-align: center;line-height: 3em;margin-bottom: 2em;}
.p_homemain .eng {position: absolute;width: 100%;text-align: center;left: 50%;top: 52%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);z-index: 1;line-height: 1em;font-size: 1rem;}
section.p_homemain {
    overflow: hidden;
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* ②フッターの文字が回るアニメーションの再現 */
.p_homeabout {width: 100%;height: auto;display: block;position: relative;overflow: hidden;padding: 8vw 0;min-height: calc(100vh - 10vw);}
.p_homeabout.homeFVflg {}
.p_homeabout.homeFVflg.-act {}
.p_homeabout .l-section {position: relative;z-index: 1;}
.p_homeabout .l-contents.l-flex {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.p_homeabout .p_homeabout__bord {width: 20vw;margin-bottom: 0;margin: 0 1.5rem;}
.p_homeabout .p_homeabout__bord:nth-of-type(1) {-webkit-transform: translateX(calc(100% + 3rem));transform: translateX(calc(100% + 3rem));-webkit-transition: 0.5s;transition: 0.5s;}
.p_homeabout.homeFVflg.-act .p_homeabout__bord:nth-of-type(1) {-webkit-transform: translateX(0);transform: translateX(0);}
.p_homeabout .p_homeabout__bord:nth-of-type(2) {}
.p_homeabout .p_homeabout__bord:nth-of-type(3) {-webkit-transform: translateX(0);transform: translateX(0);margin-bottom: 0;-webkit-transform: translateX(calc(-100% - 3rem));transform: translateX(calc(-100% - 3rem));-webkit-transition: 0.5s;transition: 0.5s;}
.p_homeabout.homeFVflg.-act .p_homeabout__bord:nth-of-type(3) {-webkit-transform: translateX(0);transform: translateX(0);}
.p_homeabout .-card {padding: 1.5rem;position: relative;background: #fff;border-radius: 1rem;display: block;-webkit-box-shadow: 0 0 5rem 0.4rem rgba(0, 0, 0, 0.1);box-shadow: 0 0 5rem 0.4rem rgba(0, 0, 0, 0.1);overflow: hidden;padding: 1.5rem;}
.p_homeabout .-ura {}
.p_homeabout .-inner {padding-top: 65%;position: relative;}
.p_homeabout .u-title {}
.p_homeabout .u-title.-l {position: absolute;right: 0;top: 0;width: 1em;font-size: 2.8645833333vw;}
.p_homeabout .u-title.-l span {width: 100%;height: auto;display: block;text-align: center;margin-bottom: 0.1em;line-height: 1em;}
.p_homeabout .-img {display: block;margin: 0 auto;}
.p_homeabout .-card {}
.p_homeabout .-card.l-contents.n2 {}
.p_homeabout .-card.l-contents.n2.trunOn {}
.p_homeabout .-card.l-contents.n3 {}
.p_homeabout .-card.l-contents.n3.trunOn {}
.p_homeabout .p_homeabout__slide {width: 100%;height: 100%;display: block;position: absolute;left: 0;top: 0;z-index: 0;overflow: hidden;}
.p_homeabout .-slide {width: 140vw;display: -webkit-box;display: -ms-flexbox;display: flex;height: auto;overflow: hidden;position: absolute;}
.p_homeabout .-slide img {width: 100%;height: auto;}
.p_homeabout .-slide img:first-child {-webkit-animation: loop 50s -25s linear infinite;animation: loop 50s -25s linear infinite;}
.p_homeabout .-slide img:last-child {-webkit-animation: loop 50s -25s linear infinite;animation: loop 50s -25s linear infinite;}
.p_homeabout .-slide.-top {left: 0;top: 0;}
.p_homeabout .-slide.-btm {right: 0;bottom: 0;}

@keyframes loop {
0% {transform: translateX(0%);}
to {transform: translateX(-100%);}
}

/* ③カードが裏返るアニメーションの再現 */
.c-pagetop {padding: 10vw 0;}
.l-container {}
.c-pagetopArr {width: 10%;height: auto;margin: 0 auto;display: block;}

.c-footer {width: 100%;min-height: 100vh;display: -webkit-box;display: -ms-flexbox;display: flex;background: #ccc;position: relative;padding: 15vw 0 10vw;background: url("https://inadani-sees.jp/assets/img/footer.jpg") no-repeat center;background-size: cover;}
.c-footer .c-footer__container {width: 50%;height: auto;margin: auto;position: relative;display: block;width: 25%;}
.c-footer .c-footer__logo {position: relative;margin-bottom: 2rem;}
.c-footer .c-footer__logo .-logo {width: 100%;height: auto;}
.c-footer .-logo {position: relative;margin-bottom: 2rem;}
.c-footer .-stamp {position: absolute;left: 0;top: 0;display: block;-webkit-transform: translateX(-12%) translateY(-10%);transform: translateX(-12%) translateY(-10%);}
.c-footer .c-footer__ppbtn {width: 30%;height: auto;position: absolute;right: 0;bottom: 0;-webkit-transform: translateX(80%) translateY(65%);transform: translateX(80%) translateY(65%);color: inherit;text-decoration: none;}
.c-footer .c-footer__ppbtn .-inner span {width: 100%;padding-top: 100%;display: block;position: relative;}
.c-footer__ppbtn span img {}
.c-footer__ppbtn span img:first-child {-webkit-animation: circleLoop 36.4s linear infinite;animation: circleLoop 36.4s linear infinite;}
.c-footer__ppbtn {width: 30%;height: auto;position: absolute;right: 0;bottom: 0;transform: translateX(80%) translateY(65%);}
.c-footer__ppbtn span {width: 100%;padding-top: 100%;display: block;position: relative;}
.c-footer__ppbtn img {width: 100%;height: auto;position: absolute;left: 0;top: 0;}
@keyframes circleLoop {
0% {transform: rotate(0deg);}
to {transform: rotate(364deg);}
}

.c-footer .-inner {}
.c-footer .c-footer__access {max-width: 10rem;display: block;margin: 0 auto 1rem;}

.c-footer .eng {}

.c-btn__circle.-red svg {fill: rgba(255, 255, 255, 0.5);}
.c-btn__circle {width: 100%;padding-top: 37%;position: relative;display: block;}
.c-btn__circle span {position: absolute;width: 100%;text-align: center;left: 50%;top: 52%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);z-index: 1;line-height: 1em;font-size: 1rem;}
.c-btn__circle.-red span {color: #e94709;}
.c-btn__circle svg {fill: rgb(255, 255, 255);stroke: #000;stroke-width: 2px;width: 100%;height: auto;position: absolute;left: 0;top: 0;}
.c-footer .st0 {}
.c-footer .c-sns {line-height: 3em;display: inline-block;margin: 0 1em;font-size: 1.953125vw;}
.c-footer .c-terms__list {right: 50%;-webkit-transform: translateX(50%);transform: translateX(50%);position: absolute;bottom: 3.5rem;font-size: 0.9rem;}
.c-footer .-link {display: block;text-align: center;}

.c-btnsns {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
.c-btnsns.eng {}
