@import "mixin";
@import "setting";
@import "reset";
@import "base";
@import "btn";

body {
  &.pageView {
    .p_homemain .p-homemain__txtwrap .-logowrap .p_homemain__logo {
      .-logo {
        opacity: 1;
        transition: 1s cubic-bezier(0.39, 0.58, 0.57, 1) 1s;
      }

      .-stamp {
        img {
          transform: scale(1);
          opacity: 1;
          transition: 0.3s cubic-bezier(0.39, 0.58, 0.57, 1) 2s;
        }
      }
    }

    .p_homemain .p-homemain__txtwrap .p-homemain__txt .p_homemain__copy {
      opacity: 1;
      transition: 1s cubic-bezier(0.39, 0.58, 0.57, 1) 1s;
    }

    .p_homemain .p-homemain__imgwrap .p-homemain__img {
      .-main_base {
        img {
          opacity: 1;
          transition: 0s 0s;
        }
      }

      .-main_color {
        img {
          opacity: 1;
          transition: 3s 1s;
        }
      }

      .-main_kumo {
        img {
          opacity: 1;
          transform: translateY(0);
          transition: transform 3s 1s, opacity 0.5s 1s;
        }
      }
    }
  }
}